@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
  
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
  
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #f1eff1 0%, #dddada 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border: 2px solid red;
}
    
.box-1 { 
    grid-area: 3 / 3 / 4 / 4; 
    border: 2px solid black;
}
.box-2 { 
    grid-area: 3 / 4 / 4 / 5;
    border: 2px solid black;
}
.box-3 { 
    grid-area: 3 / 5 / 4 / 6;
    border: 2px solid black;
}
.box-4 { 
    grid-area: 4 / 3 / 5 / 4;
    border: 2px solid black;
}
.box-5 { 
    grid-area: 4 / 4 / 5 / 5;
    border: 2px solid black;
}
.box-6 { 
    grid-area: 4 / 5 / 5 / 6;
    border: 2px solid black;
}
.box-7 { 
    grid-area: 5 / 3 / 6 / 4;
    border: 2px solid black;
}
.box-8 { 
    grid-area: 5 / 4 / 6 / 5;    
    border: 2px solid black;
}
.box-9 { 
    grid-area: 5 / 5 / 6 / 6;
    border: 2px solid black;
}
.player-1 { 
    grid-area: 7 / 2 / 8 / 3;
    border: 2px solid black;
}
.input-btn { 
    grid-area: 7 / 4 / 8 / 5;
    border: 2px solid black;
    display: flex;
}
.player-2 {
    grid-area: 7 / 6 / 8 / 7;
    border: 2px solid black;
}

.current {
    background-color: black;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
    text-align: center;
  }
  
  .current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: black;
    text-align: center;
      
  }